.ticketHeaders {
  color: #0a58ca;
  text-decoration: none;
}

h4 .totalPrice {
  font-size: 1.2rem;
  font-weight: 500;
}

.booking-selection {
  margin: 10px;
  padding: 15px 5px 5px 5px;
  border-top: solid;
  border-color: grey;
}

#ticketRow {
  padding: 15px;
  justify-content: flex-end;
}

.seatContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 40px;
}

.seat {
  background-color: #ADD8E6;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: solid;
  border-color: black;
}

.seat.selected {
  background-color: green;
  border-style: solid;
}

.seat.sold {
  background-color: grey;
  border-style: solid;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: black;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 30px;
  width: 40%;
  margin: 15px 0;
  border-style: solid;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  text-align: center;
}

p.text {
  margin: 5px 0;
}

.seatNumbers {
    height: 26px;
    width: 32px;
    margin: 5px;
  }

#showtimeRow2{
  margin-left: -5px;
  display: flex;
}

#seatingPlanCol{
  align-self: center;
  margin-top: 22px;
}

#seatingPlanSeat{
  margin-left: 45px;
}

#seatingPlanScreen{
  margin-left: 40px;
}

#movieTitle{
  font-size: 2rem;
}

#cinemaDropdown, #dateDropdown, #timeDropdown{
  width: max-content;
}

.button-container{
  display: inline;
}

#dropdownHeader{
  margin-left: 10px;
}

#showcaseContainer{
  padding-top: 25px;
}