/* showtimes.html styles */

h1{
    font-size: 1rem;
}

h4{
    font-size: 0.8rem;
}

.subtitles, .ratings{
    text-decoration: none;
    font-size: 0.7rem;
    color: black;
}

.dateButton{
    background-color: grey;
    color: white;
    border: solid;
    border-radius: 0px;
}

.dateButton:hover{
    background-color: #0d6efd;
    color: white;
    border: solid;
    border-radius: 0px;
}

.container{
    margin-top: 20px;
}

.movieRow{
    margin: 20px 0px 10px 0px;
    border-top: solid;
    padding-top: 10px;;
}

/* moviedetails.html styles */

#inDetails{
    width: 200px;
    height: 300px;
}

.cinemaSection{
    background-color: #949494;
    width: 230px;
    padding: 20px 15px 40px 15px;
}

.showtimeSection{
    background-color: #D3D3D3;
    width: 810px;
    padding: 15px 5px 15px 20px;
    border: 1px solid grey;
}

.cinemaBtn{
    text-align: left;
}

.flex-container {
    border-bottom: solid;
    border-color: black;
    margin-bottom: 5px;
    padding-top: 10px;
}

.movieTitle{
    text-decoration: none;
    font-size: 1rem;
    width: auto;
    margin-left: -15px;
    color: #0d6efd;
}

.showtimeHeader{
    font-size: 0.9rem;
    width: auto;
    margin-right: 20px;
}

#showtimeRow {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    background-color: lightgrey;
}

.dayDate{
    font-size: 0.8rem;
}

.btn-primary{
    width: max-content;
    margin: 5px;
}

#movieSynopsisRow, #detailsBody, #detailsContent{
    margin-left: 0px;
    padding: 10px;
}

#detailsBody{
    font-weight: 500;
}

#cinemaRow{
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#showtimesContainer{
    margin-top: -10px;
    padding-top: 0px;
}

.cinemaName{
    color: white;
    font-size: medium;
    text-decoration: overline;
}

#innerShowtimeContainer{
    margin-top: -20px;
}

#timeslotMovie{
    display: flex;
}

.showcase-heading{
    margin: 15px;
}