#searchShowtime {
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#showtimeContainer {
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#showtimeHeaderRow {
    background-color: lightgrey;
    font-weight: 500;
    color: black;
    padding: 10px;
    margin: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.showtimeHeader {
    color: black;
}

#showtimeContentRow {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid grey;
}

#searchButton {
    width: -webkit-fill-available;
}

#deleteShowtimes,
#editShowtimes,
#confirm-delete,
#cancel-delete,
#confirm-edit,
#cancel-edit {
    width: auto;
    margin-left: 5px;
}


/* Styles for the modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    justify-content: center;
}

#delete-modal-content {
    width: 300px;
    height: 200px;
}

#edit-modal-content {
    width: 450px;
    height: 350px;
}

#modalRow {
    display: block;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.action-button {
    margin: 5px;
}

#deleteHeader{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#editShowDate, #editShowTime{
    margin: 10px 0px 10px 0px;
}