<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Register</title>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'></script>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/login.css">

</head>

<body>
  <!-- Navbar -->
  <div id="navbar"></div>

  <div class="wrapper">
    <div class="inner-warpper text-center">
      <h2 class="title">Register for an account</h2>
      <form action="" id="formvalidate">

        <div class="input-group">
          <label class="palceholder" for="email" style="margin: -4px;">Email</label>
          <input class="form-control" name="email" id="email" type="text" placeholder="" />
          <span class="lighting"></span>
        </div>

        <a class="guidelines">Username must be 3 - 16 characters long and alphanumeric.</a>

        <div class="input-group">
          <label class="palceholder" for="userName" style="margin: -4px;">Username</label>
          <input class="form-control" name="username" id="userName" type="text" placeholder="" />
          <span class="lighting"></span>
        </div>

        <a class="guidelines">Password must be 12 - 32 characters long with at least 1 uppercase, 1 lowercase, 1
          special character and 1 number.</a>
  
        <div class="input-group" id="passwordInputGroup">
          <label class="palceholder" for="userPassword" style="margin: -4px;">Password</label>
          <span id="togglePassword" class="toggle-password" onclick="togglePasswordVisibility()"><i class="bi bi-eye"></i></span>
          <input class="form-control" name="userPassword" id="userPassword" type="password" placeholder="" />
          <span class="lighting"></span>
        </div>
        
        <div class="recaptcha-error">
          <!-- using localhost sitekey, need to generate a new once deployed on server -->
          <div id="recaptcha" class="g-recaptcha" data-sitekey="6LdDtsooAAAAAHj_xBabr_6QUfmu3cUnSSQSnKTP"
            data-callback="onSuccess" data-action="action"></div>
        </div>

        <button type="submit" id="register-button" disabled>Register</button>

      </form>
      <br>
      By creating an account, you agree to our <a class="normal">Terms</a> and have read and acknowledge the <a
        class="normal">Global Privacy Statement</a>.
      <br>
      <p id="error-message"></p>
    </div>
    <div class="signup-wrapper text-center">
      <a href="/login">Already have an account? <span class="text-primary">Login Now!</span></a>
    </div>
  </div>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <script src="/js/register.js"></script>
  <script src="/js/nav.js"></script>
  <script src="/js/passwordtoggle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>